<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>
<div class="center">
  <div class="info">
    <p><strong>Welcome</strong> <%= @user.name %></p>

    <!-- The grid: three columns -->
<div class="row">
  <div class="column" onclick="openTab('b1');" style="background:green;">Box 1</div>
  
</div>


  </div>
</div>

