// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(puzzel1.jpeg); 
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #54d3e4; /* Used if the image is unavailable */
}
.register-page{
    width: 360px;
    padding:  10%, 0 0;
    margin: auto;
    margin-top: 300px;
}

.form{
    background-color: #ffffff;
    z-index: 1;
    background: rgba(7, 40, 195, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    // position: center;
}
.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background:  #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}
.form button:hover, .form button:active{
    background: #43A047;
}
.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}
.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }