
<h1>Welcome to Noukod's Dashboard!</h1>
<!--<a class="navbar-brand" href="<%= signin_path %>"/>Log in</a>-->
<!--a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>-->

<%= link_to "Sign Up", new_user_path %>

<%= link_to "Log In", signin_path %>

